certifi
click
colorama
et-xmlfile
Flask
Flask-Cors
greenlet
itsdangerous
Jinja2
MarkupSafe
mysql
mysql-connector
mysql-connector-python
mysqlclient
numpy
openpyxl
pandas
protobuf
python-dateutil
pytz
six
SQLAlchemy
Werkzeug
wincertstore
gunicorn